.oph-button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: relative;
  width: fit-content;

  box-sizing: border-box;
  gap: 8px;

  text-decoration: none;
  white-space: nowrap;

  border: none;
  cursor: pointer;
  background: none;

  will-change: background-color, transform;
  transition-property: background-color, transform;
  transition-duration: var(--transition-duration-standard);
  transition-timing-function: var(--transition-easing-ease-in-out);

  &:disabled {
    cursor: not-allowed;
    color: var(--colors-text-secondary);
  }

  &[data-loading="true"] {
    user-select: none;
    cursor: progress;
  }

  &:active:not([disabled]):not([data-loading="true"]) {
    transform: scale(0.95);
  }
}

/**
* Size classes
*/
.oph-button_size-sm {
  height: 32px;
  padding-inline: 12px;

  font-size: 16px;
}

.oph-button_size-md {
  height: 40px;
  padding-inline: 16px;

  font-size: 18px;
}

.oph-button_size-lg {
  height: 48px;
  padding-inline: 20px;

  font-size: 20px;
}

/**
* Variant classes
*/
.oph-button_variant-solid {
  border: 1px solid transparent;
  color: var(--brand-contrast);
  background-color: var(--brand-primary);

  &:disabled {
    opacity: 0.8;
  }
}

/**
 * Size-variant intersections
 */
.oph-button_size-sm_variant_solid {
  border-radius: 6px;
  /* Inject typography styles */
}

.oph-button_size-md_variant_solid {
  border-radius: 8px;
}

.oph-button_size-md_variant_solid {
  border-radius: 12px;
}
