.root {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  
  background: var(--bg-30);
  padding: var(--spacing-2);

  border: var(--default-border);
  border-radius: var(--radii-md);

  box-shadow: var(--shadow-3);
}
