.root {
  display: flex;
  flex-direction: column;

  background: var(--bg-10);
  padding: var(--spacing-2);

  border: var(--default-border);
  border-radius: var(--radii-md);

  box-shadow: var(--shadow-3);
}
