@keyframes fadeIn {
  from {
    opacity: 0;
    /* Optional: slightly move it up as it fades in */
  }
  to {
    opacity: 1;
  }
}

.root {
  display: inline-flex;
  flex-direction: column;

  background: var(--bg-30);
  padding: var(--spacing-2);

  border: var(--default-border); 
  border-radius: var(--radii-md);

  box-shadow: var(--shadow-3); 
  
  position: relative; 
  z-index: 1000; 

  animation: fadeIn 0.2s ease-out forwards;
}

.label {
  padding: var(--spacing-1); 
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-2);

  min-width: 192px;
  padding: 6px var(--spacing-1);
  border-radius: var(--radii-sm);

  font-size: var(--text-paragraph-size-md);
  font-weight: var(--text-paragraph-font-weight);
  color: var(--text-70);

  cursor: pointer;
}

.clipPathContainer {
  position: absolute;
  top: 33.5px; 
  left: var(--spacing-2);

  display: inline-flex;
  flex-direction: column; 

  z-index: 10;
  width: calc(100% - var(--spacing-4));
  overflow: hidden;
  transition: clip-path 0.15s ease-out;
  clip-path: inset(25% 0% 50% 0% round var(--radii-sm));
  background: var(--bg-80);
}
