.root {
  display: flex;
  align-items: center;

  background: var(--bg-10);
  border-radius: var(--radii-md);
  border: var(--default-border);

  box-shadow: var(--shadow-2);
}

.item {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-2);

  padding: var(--spacing-2);

  color: var(--text-70);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;

  background: var(--bg-70);
  border-radius: var(--radii-full);

  font-size: var(--text-label-size-md);
  font-weight: var(--text-label-font-weight);
  letter-spacing: var(--text-label-letter-spacing);
  color: var(--icon-60);
}
