.flex-direction-row {
    flex-direction: row;
  }
  
  .flex-direction-column {
    flex-direction: column;
  }
  
  .flex-direction-reverse {
    flex-direction: row-reverse;
  }
  
  .flex-direction-reverse {
    flex-direction: column-reverse;
  }