.root {
  width: 720px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);

  margin: 0 auto;
  padding: var(--spacing-6) var(--spacing-8);

  @media (max-width: 900px) {
    width: 100%;
    padding-top: var(--spacing-16);
  }

  height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;
}
