:root {
  --brand-10: #E5E6FF;
  --brand-30: #B3B7FE;
  --brand-50: #959BFF;
  --brand-70: #7e85ff;
  --brand-80: #424bf1;
  --brand-90: #040b86;
  --brand-contrast: #ffffff;

  --bg-10: #ffffff;
  --bg-30: #fbfcff;
  --bg-50: #f6f7fd;
  --bg-60: #f2f3f6;
  --bg-70: #eaebf4;
  --bg-80: #e0e1ee;
  --bg-90: #d1d3e5;

  --text-30: #8f9198;
  --text-50: #6d707a;
  --text-70: #4c4f5b;
  --text-90: #1f2332;

  --icon-30: #8f9198;
  --icon-60: #6d707a;
  --icon-90: #4c4f5b;

  --border: #dcddea;

  --danger-30: #FFDCDC;
  --danger-60: #FF5B5B;
  --danger-90: #D13333;

  --warning-30: #FFDA85;
  --warning-60: #FBBD2D;
  --warning-90: #D99C0F;

  --success-30: #D0FFC3;
  --success-60: #50C330;
  --success-90: #319316;
}
