html[data-theme="light"]{
    --brand-10: #F9F9FF;
    --brand-30: #EEEEF8;
    --brand-50: #7F82C3;
    --brand-70: #7E85FF;
    --brand-90: #040B86;
    --brand-contrast: #FFFFFF;

    --bg-10: #FFFFFF;
    --bg-30: #FBFCFF;
    --bg-50: #F6F7FD;
    --bg-60: #F2F3F6;
    --bg-70: #EAEBF4;
    --bg-80: #E0E1EE;
    --bg-90: #D1D3E5;

    --text-30: #8F9198;
    --text-50: #6D707A;
    --text-70: #4C4F5B;
    --text-90: #1F2332;

    --icon-30: #8F9198;
    --icon-60: #6D707A;
    --icon-90: #4C4F5B;
}

html[data-theme="dark"] {
    --brand-10: #F9F9FF;
    --brand-30: #EEEEF8;
    --brand-50: #7F82C3;
    --brand-70: #7E85FF;
    --brand-90: #040B86;
    --brand-contrast: #FFFFFF;

    --bg-10: #090909;
    --bg-30: #101011;
    --bg-50: #17181A;
    --bg-60: #1C1D1F;
    --bg-70: #27292D;
    --bg-80: #2A2C34;
    --bg-90: #31353E;

    --text-30: #848484;
    --text-50: #A9A9A9;
    --text-70: #CECECE;
    --text-90: #FFFFFF;

    --icon-30: #848484;
    --icon-60: #A9A9A9;
    --icon-90: #CECECE;
}