html[data-theme="light"] {
  --brand-10: #f9f9ff;
  --brand-30: #eeeef8;
  --brand-50: #7f82c3;
  --brand-70: #7e85ff;
  --brand-80: #424bf1;
  --brand-90: #040b86;
  --brand-contrast: #ffffff;

  --bg-10: #ffffff;
  --bg-30: #fbfcff;
  --bg-50: #f6f7fd;
  --bg-60: #f2f3f6;
  --bg-70: #eaebf4;
  --bg-80: #e0e1ee;
  --bg-90: #d1d3e5;

  --text-30: #8f9198;
  --text-50: #6d707a;
  --text-70: #4c4f5b;
  --text-90: #1f2332;

  --icon-30: #8f9198;
  --icon-60: #6d707a;
  --icon-90: #4c4f5b;

  --border: #dcddea;
}

html[data-theme="dark"] {
  --brand-10: #f9f9ff;
  --brand-30: #eeeef8;
  --brand-50: #7f82c3;
  --brand-70: #7e85ff;
  --brand-80: #424bf1;
  --brand-90: #040b86;
  --brand-contrast: #ffffff;

  --bg-10: #090909;
  --bg-30: #101011;
  --bg-50: #17181a;
  --bg-60: #1c1d1f;
  --bg-70: #27292d;
  --bg-80: #2a2c34;
  --bg-90: #31353e;

  --text-30: #848484;
  --text-50: #a9a9a9;
  --text-70: #cecece;
  --text-90: #ffffff;

  --icon-30: #848484;
  --icon-60: #a9a9a9;
  --icon-90: #cecece;

  --border: #848484;
}
