.button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--spacing-1); 
    border-radius: 50%; 

    transition: all 0.1s ease-out;
    cursor: pointer;
}

.button:hover {
    background: var(--bg-80);
}
