.root {
    padding: 4px;
    border-radius: 12px;
    background: var(--brand-30);

    display: flex;
    width: min-content;
}

.option {
    padding: 8px 16px ;
    border-radius: 8px;
    color: var(--brand-80);
    cursor: pointer;
}

.selected {
    background: var(--brand-80);
    color: var(--white-90);
}

.image {
    width: 95%;
    height: auto;

    @media (min-width: 960px) {
        width: 80%;
    }
}