.root {
  background: var(--bg-10);
  border-radius: var(--radii-md);
  border: var(--default-border);

  overflow: hidden;
}

.footer {
  padding: var(--spacing-2);
  background: var(--bg-50);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: background 0.2s ease-in-out;

  text-decoration: none;
}

.footer:hover {
  background: var(--bg-70);
}

.placeholderRoot {
  max-width: 400px;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);

  padding: var(--spacing-8);
  margin: 0 auto;
}
