.root {
    border-radius: 50%;

    width: var(--spacing-6);
    height: var(--spacing-6);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.1s ease-out;
    cursor: pointer;
}

.root:hover {
    background: var(--bg-80);
}