.root {
  font-family: var(--font-family);

  min-height: var(--text-paragraph-size-md);
  padding: var(--spacing-05);

  flex: 1;
}

.root:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: var(--text-30); 
  pointer-events: none; 
  display: block; 
}

.paragraph {
  font-size: var(--text-paragraph-size-md);
  font-weight: var(--text-paragraph-font-weight);
  letter-spacing: var(--text-paragraph-letter-spacing);
  line-height: var(--text-paragraph-line-height);
  color: var(--text-70);
}

.h1 {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-2);

  font-size: var(--text-heading-size-md);
  font-weight: var(--text-heading-font-weight);
  letter-spacing: var(--text-heading-letter-spacing);
  line-height: var(--text-heading-line-height);
  color: var(--text-70);
}

.h2 {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-1);

  font-size: var(--text-heading-size-sm);
  font-weight: var(--text-heading-font-weight);
  letter-spacing: var(--text-heading-letter-spacing);
  line-height: var(--text-heading-line-height);
  color: var(--text-70);
}

.h3 {
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-05);

  font-size: var(--text-heading-size-xs);
  font-weight: var(--text-heading-font-weight);
  letter-spacing: var(--text-heading-letter-spacing);
  line-height: var(--text-heading-line-height);
  color: var(--text-70);
}

.bulletList {
  list-style-type: disc;
  margin-left: var(--spacing-4);
}

