.fullWidth {
  width: 100%;
}

.input {
  background: var(--bg-10);
  border: var(--spacing-025) solid var(--border);
  outline: 0 solid var(--bg-70);

  transition: all 0.1s ease-out;
}

.input:focus-within {
  outline: var(--spacing-1) solid var(--bg-70);
}

.size-1 {
  padding: var(--spacing-2);
  font-size: var(--text-paragraph-size-sm);
  border-radius: var(--radii-sm);
}

.size-2 {
  padding: var(--spacing-3);
  font-size: var(--text-paragraph-size-md);

  border-radius: var(--radii-md);
}
