.arc-button-root {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  position: relative;
  width: fit-content;

  box-sizing: border-box;
  gap: var(--spacing-2);
  border-radius: var(--radii-sm);

  text-decoration: none;
  white-space: nowrap;

  border: none;
  cursor: pointer;
  background: none;

  will-change: background-color, transform;
  transition-property: background-color, transform;
  transition-duration: var(--transition-duration-standard);
  transition-timing-function: var(--transition-easing-ease-in-out);

  &:disabled {
    cursor: not-allowed;
    color: var(--colors-text-subtle);
  }

  &[data-loading="true"] {
    user-select: none;
    cursor: progress;
  }

  &:active:not([disabled]):not([data-loading="true"]) {
    transform: scale(0.95);
  }
}

/**
* Size classes
*/
.arc-button-root--size_sm {
  height: 40px;
  padding-inline: var(--spacing-4);

  font-size: 16px;
}

.arc-button-root--size_md {
  height: 48px;
  padding-inline: var(--spacing-5);

  font-size: 18px;
}

.arc-button-root--size_lg {
  height: 56px;
  padding-inline: var(--spacing-8);

  font-size: 20px;
}

/**
* Variant classes
*/
.arc-button-root--variant_solid {
  border: 1px solid transparent;
  color: var(--system-color-contrast-text);
  background-color: var(--system-color-default);

  font-family: var(--typography-h1-font-family);
  font-weight: var(--typography-h1-font-weight);

  &:disabled {
    background-color: var(--colors-surface-inactive);
  }

  &:is(:hover, :focus-visible):not([data-loading="true"]):not(:disabled) {
    background-color: color-mix(
      in srgb,
      var(--system-color-default),
      transparent 15%
    );
  }
}

.arc-button-root--variant_outlined {
  background-color: transparent;
  color: var(--system-color-default);
  border: 1px solid var(--system-color-default);

  font-family: var(--typography-h1-font-family);
  font-weight: var(--typography-h1-font-weight);

  &:disabled {
    border-color: var(--colors-surface-inactive);
    background-color: var(--colors-surface-inactive);
  }

  &:is(:hover, :focus-visible):not([data-loading="true"]):not(:disabled) {
    background-color: color-mix(
      in srgb,
      var(--system-color-default),
      transparent 95%
    );
  }
}

.arc-button-root--variant_text {
  padding: 0;
  height: inherit;

  color: var(--colors-text-default);
  font-family: var(--typography-body-font-family);
  font-weight: var(--typography-body-font-weight);

  &:is(:hover):not([data-loading="true"]):not(:disabled) {
    text-decoration: underline;
  }
}

.arc-button-root--variant_ghost {
  background-color: transparent;
  color: var(--colors-text-default);

  font-family: var(--typography-body-font-family);
  font-weight: var(--typography-body-font-weight);

  &:is(:hover):not([data-loading="true"]):not(:disabled) {
    background-color: var(--system-color-subtle);
    color: var(--system-color-contrast-text-subtle);
  }
}
