
.root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: var(--bg-50);
}

.content {
    flex: 1;

    padding: 0 var(--spacing-4); 
}

.inner {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    background: var(--bg-10);

    border-radius: var(--radii-md) var(--radii-md) 0 0;
    border: var(--spacing-0125) solid var(--border);
    
    box-shadow: var(--shadow-4);
}