.root {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: linear-gradient(
      to top,
      var(--bg-30) 80%,
      transparent 95%
    ),
    linear-gradient(
      -45deg,
      var(--bg-10),
      var(--brand-10),
      var(--bg-30),
      var(--brand-10)
    );
  background-size: 100% 100%, 400% 400%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  animation: gradientAnimation 10s ease infinite;
}

.content {
  flex: 1;

  padding: var(--spacing-4);

  margin: 0 auto;
}

.inner {
  height: 100%;
  width: 800px;

  display: flex;
  flex-direction: column;
}

@keyframes gradientAnimation {
  0% {
    background-position: bottom, 0% 50%;
  }
  50% {
    background-position: bottom, 100% 50%;
  }
  100% {
    background-position: bottom, 0% 50%;
  }
}
