
.root {
    width: 100vw;
    height: 100vh;

    display: flex;

   background: var(--bg-50);
}

.content {
    height: 100vh;
    
    flex: 1;

    padding: var(--spacing-2)  var(--spacing-2) var(--spacing-2) 0;
}

.inner {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;

    background: var(--bg-10);

    border: var(--spacing-0125) solid var(--border);
    border-radius: var(--radii-md);
}