.root {
  margin: 0 auto;

  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-6);
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: var(--spacing-5);
}
