@import "tailwindcss";
@import "./css/index.css";

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  * {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-gray-100: #f2f2f2;
  --color-gray-200: #ededed;

  --color-gray-300: #e6e6e6;

  --color-gray-400: #dcdcdc;
  --color-gray-500: #a9a9a9;
  --color-gray-600: #8f8f8f;

  --color-gray-700: #7d7d7d;
  --color-gray-800: #666666;
  --color-gray-900: #171717;
}
