@import "tailwindcss";

@layer base {
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  * {
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-gray-100: #f2f2f2;
  --color-gray-200: #ededed;

  --color-gray-300: #e6e6e6;

  --color-gray-400: #dcdcdc;
  --color-gray-500: #a9a9a9;
  --color-gray-600: #8f8f8f;

  --color-gray-700: #7d7d7d;
  --color-gray-800: #666666;
  --color-gray-900: #171717;
}

.border-primary-style {
  @apply border-solid border-gray-400;
}
.border-primary {
  @apply border-[0.5px] border-solid border-gray-400;
}
.border-secondary {
  @apply border-[0.5px] border-solid border-gray-500;
}
.border-tertiary {
  @apply border-[0.5px] border-solid border-gray-600;
}
.border-primary-thick {
  @apply border-[1px] border-solid border-gray-400;
}
.border-secondary-thick {
  @apply border-[1px] border-solid border-gray-500;
}
.border-tertiary-thick {
  @apply border-[1px] border-solid border-gray-600;
}

.border-05 {
  @apply border-[0.5px];
}

.bg-primary {
  @apply bg-white;
}

.bg-secondary {
  background: #fafafa;
}

.font-mono {
  font-family:
    "GeistMono", "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.font-sans {
  font-family:
    "Geist",
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}

.text-xs {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: normal;
}
.text-sm {
  font-size: 13px;
  line-height: 150%;
  letter-spacing: -0.13px;
}
.text-base {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: -0.15px;
}
.text-lg {
  font-size: 17px;
  line-height: 140%;
  letter-spacing: -0.34px;
}
.text-xl {
  font-size: 19px;
  line-height: 130%;
  letter-spacing: -0.38px;
}
.text-2xl {
  font-size: 21px;
  line-height: 120%;
  letter-spacing: -0.63px;
}
.text-3xl {
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.81px;
}

.text-primary {
  @apply text-gray-900;
}

.text-secondary {
  @apply text-gray-800;
}

.text-tertiary {
  @apply text-gray-700;
}

.icon-primary {
  @apply text-gray-800;
}
.icon-secondary {
  @apply text-gray-600;
}

.surface-base {
  border: 0.5px solid var(--color-gray-400);
  border-radius: 6px;
}

.sufrface-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
  border: 0.5px solid var(--color-gray-400);
  border-radius: 6px;
}

.surface-md {
  box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.04),
    0 8px 8px -8px rgba(0, 0, 0, 0.04);
  border: 0.5px solid var(--color-gray-400);
  border-radius: 8px;
}

.surface-lg {
  box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.04),
    0 8px 16px -4px rgba(0, 0, 0, 0.04);
  border: 0.5px solid var(--color-gray-400);
  border-radius: 12px;
}

.floating-tooltip {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.02),
    0 4px 8px rgba(0, 0, 0, 0.04);
  border: 0.5px solid var(--color-gray-400);
  border-radius: 6px;
}

.floating-menu {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.02),
    0 4px 8px -4px rgba(0, 0, 0, 0.04),
    0 16px 24px -8px rgba(0, 0, 0, 0.06);
  border: 0.5px solid var(--color-gray-400);
  border-radius: 8px;
}

.floating-modal {
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.02),
    0 8px 16px -4px rgba(0, 0, 0, 0.04),
    0 24px 32px -8px rgba(0, 0, 0, 0.06);
  border: 0.5px solid var(--color-gray-400);
  border-radius: 12px;
}

.focus-ring {
  box-shadow:
    0 0 1px #0073f0,
    0px 0px 0px 2px #0073f0;
}

.hitbox {
  position: relative;
}

.hitbox::before {
  content: "";
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  pointer-events: auto;
}
