.link,
.linkFooter {
    --link-color: var(--text-50);
    color: var(--link-color);

    transition: color 0.1s ease-out;

    cursor: pointer;
    text-decoration: none;
    letter-spacing: var(--text-label-letter-spacing);
}

.link {
    font-size: var(--text-label-size-md);
}

.linkFooter {
    font-size: var(--text-label-size-sm);
}

.linkFooter,
.link:hover {
   color: var(--text-70);
}

.link[data-active="true"] {
    color: var(--text-90);
}

