.indicator {
    width: var(--spacing-6);
    height: var(--spacing-6);

    border-radius: var(--spacing-6);

    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-active {
    background: var(--brand-80);
    color: var(--brand-contrast);
}

.indicator-idle {
    background: var(--brand-30);
    color: var(--brand-90);
}